@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script type="text/javascript" src="~/js/app/IndexViewModel.js"></script>
}

<h1>Welcome</h1>

<a asp-controller="Home" asp-action="Login">Login</a>
<br/>
<a asp-controller="Home" asp-action="Register">Register</a>
<br/>

<hr/>

<div data-bind="with: createCustomer">
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" class="form-control" data-bind="value: firstName"/>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" class="form-control" data-bind="value: lastName"/>
    </div>
    <div class="mb-3">
        <label>Email Address</label>
        <input type="text" class="form-control" data-bind="value: emailAddress"/>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Billing Address</h3>
            <div class="mb-3">
                <label>Street Address</label>
                <input type="text" class="form-control" data-bind="value: billingStreetAddress"/>
            </div>
            <div class="mb-3">
                <label>City</label>
                <input type="text" class="form-control" data-bind="value: billingCity"/>
            </div>
            <div class="mb-3">
                <label>State</label>
                <select class="form-control" data-bind="value: billingState">
                    <option value="MA">Massachusetts</option>
                    <option value="NC">North Carolina</option>
                    <option value="IA">Iowa</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Postal Code</label>
                <input type="text" class="form-control" data-bind="value: billingPostalCode"/>
            </div>
            <div class="mb-3">
                <label>Country</label>
                <select class="form-control" data-bind="value: billingCountry">
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="MX">Mexico</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Shipping Address</h3>
            <div class="mb-3">
                <label>Street Address</label>
                <input type="text" class="form-control" data-bind="value: shippingStreetAddress"/>
            </div>
            <div class="mb-3">
                <label>City</label>
                <input type="text" class="form-control" data-bind="value: shippingCity"/>
            </div>
            <div class="mb-3">
                <label>State</label>
                <select class="form-control" data-bind="value: shippingState">
                    <option value="MA">Massachusetts</option>
                    <option value="NC">North Carolina</option>
                    <option value="IA">Iowa</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Postal Code</label>
                <input type="text" class="form-control" data-bind="value: shippingPostalCode"/>
            </div>
            <div class="mb-3">
                <label>Country</label>
                <select class="form-control" data-bind="value: shippingCountry">
                    <option value="US">United States</option>
                    <option value="CA">Canada</option>
                    <option value="MX">Mexico</option>
                </select>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bind="click: createCustomer">Create</button>
</div>

<hr/>

<div class="mb-3">
    <label>Customer Id</label>
    <input type="text" class="form-control" data-bind="value: customerId"/>
</div>

<button type="button" class="btn btn-primary" data-bind="click: getCustomer">Get Customer</button>

<div data-bind="with: customer">
    <div class="mb-3">
        <label>Customer Id</label>
        <input type="text" class="form-control" data-bind="value: customerId" disabled/>
    </div>
    <div class="mb-3">
        <label>First Name</label>
        <input type="text" class="form-control" data-bind="value: firstName"/>
    </div>
    <div class="mb-3">
        <label>Last Name</label>
        <input type="text" class="form-control" data-bind="value: lastName"/>
    </div>
    <div class="mb-3">
        <label>Email Address</label>
        <input type="text" class="form-control" data-bind="value: emailAddress" disabled/>
    </div>
</div>

<hr />

<calendar-component params=""></calendar-component>

