@{
    ViewData["Title"] = "Home";
}

@section Scripts {
    <script type="text/javascript" src="~/js/app/IndexViewModel.js"></script>
}

<h1>Welcome</h1>
<hr />

<calendar-component params=""></calendar-component>

<input type="hidden" id="api-url" value="@Model.ApiUrl"/>